@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#home {
  background: var(--bgHome);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

#home h2 {
  font-size: clamp(2.5rem, 11vw, 5.5rem);
  color: var(--texto);
  font-family: "montserrat";
  font-weight: 300;
  letter-spacing: 5%;
}

#home h1 {
  font-family: "montserrat";
  font-size: clamp(1rem, 3vw, 1.25rem);
  /* font-size: 1.25rem; */
  color: var(--texto);
  font-weight: 300;
  margin: 0 55px;
}

#home .view-icon-seta {
  position: relative;
  display: flex;
  justify-content: center;
}

#home .view-icon-seta .icon-seta {
  animation: iconSeta 2s infinite;
  position: absolute;
  bottom: 5px;
}

@keyframes iconSeta {
  50% {
    margin-bottom: 15px;
  }
  100% {
    margin-bottom: 0px;
  }
}
