.dark-theme {
  --contrast: #fff;
  --bg: #150f25;
  --bgItemTec: #150f25;
  --texto: #fff;
  --iconHover: #ececec;
  --brancoEsp: #f3f3f3;
  --bgCard: #f3f3f314;
  --paragrafo: #d8d8d8;
  --bgLabel: #221b38; 
  --borderInput: #221b38;
  --bgBtn: #b19ad8;
  --bgHome: url(/imagens/home/home-background.png);
  transition: 0.1s ease-in-out;
}

.light-theme {
  --contrast: #000;
  --bg: #ffffff;
  --texto: #fff;
  --iconHover: #ececec;
  --brancoEsp: #333;
  --bgCard: #ffffff;
  --paragrafo: #6a6a6a;
  --borderInput: #e9e3e4;
  --bgBtn: #b19ad8;
  --sombraCard: 2px 1px 5px #9999994b;
  --sombraTexto:  2px 3px 2px #8e5151;
  --bgHome: url(/testeImg/fundo\ light.jpg);
  transition: 0.1s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg);
}

.btn-theme {
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.container1 {
  height: 100vh;
  background: radial-gradient(
    circle at bottom left,
    var(--roxo-claro) 20%,
    var(--roxo-escuro) 40%
  );
}

.container2 {
  height: 100vh;
  background: radial-gradient(
    circle at top left,
    var(--roxo-claro) 20%,
    var(--roxo-escuro) 40%
  );
}

/* .bg-radialc-roxo {
  height: 100vh;
  background: radial-gradient(
    circle,
    var(--roxo-claro) 10%,
    var(--roxo-escuro) 50%
  );
} */

.container4 {
  height: 100vh;
  background: radial-gradient(
    circle at bottom right,
    var(--roxo-claro) 20%,
    var(--roxo-escuro) 40%
  );
}

.container5 {
  height: 100vh;
  background: radial-gradient(
    circle at top right,
    var(--roxo-claro) 20%,
    var(--roxo-escuro) 40%
  );
}

.container6 {
  height: 100vh;
  background: radial-gradient(
    circle at center right,
    var(--roxo-claro) 20%,
    var(--roxo-escuro) 40%
  );
}

.inputContato{
  background-color: var(--bgLabel);
  color: var(--contrast);
  border: none;
  padding: 15px;
  margin-top: 10px;
  border: 1px var(--borderInput) solid;
  border-radius: 10px;
}

.btn-contato{
  background-color: var(--bgBtn);
  color: var(--texto);
  font-weight: 500;
  margin: 20px 0px;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
}

.btn-contato:hover{
  background-color: #a08bc4;
}

.contato{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.areaContato{
  width: 50%;
}

@media (max-width: 987px) {
  .areaContato {
    width: 85%;
  }
}
