@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    overflow-x: hidden;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  
  #projetos h2 {
    color: #f3f3f3 !important;
    font-family: "montserrat";
    font-size: clamp(1rem, 11vw, 3rem);
    font-weight: 300;
  }
  
  #projetos .gap-5 {
    gap: clamp(3rem, 11vw, 130px) !important;
  }
  
  #projetos .row .cardProjeto {
    width: 285px;
    height: 363px;
    background-color: #f3f3f3;
    border-radius: 15px;
    padding: 0;
    overflow: hidden;
  }
  
  #projetos .imgContainer {
    height: 45%;
    border-radius: 15px;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
  
  #projetos .imgContent {
    width: 100%;
  }
  
  #projetos .videoContent {
    height: 100%;
  }
  
  #projetos .cardProjetoContain {
    padding: 25px;
  }
  
  #projetos .projetoH3Text {
    font-size: 13px;
    font-weight: 500;
    font-family: "Inter";
  }
  
  #projetos .projetoPText {
    font-size: 11px;
    font-family: "Inter";
    font-weight: 300;
    color: #6a6a6a;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  #projetos .cardProjetoTecnologiasContain {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
  }
  
  #projetos .iconSetaCard {
    position: absolute;
    bottom: -6px;
    right: 0px;
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-decoration: none;
    color: #120c28;
  }
  
  #projetos .tecnologiaItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 24px;
    padding: 6px 10px;
    background-color: #120c28;
    color: #e2e2e2;
    font-family: "Inter";
    font-weight: 400;
    font-size: 11px;
    border-radius: 15px;
  }
  