#tecnologias{ 
    display: flex;
    flex-direction: column;
}

#tecnologias h2 {
    color: var(--brancoEsp) !important;
    font-family: "Inter";
    font-size: clamp(1rem, 11vw, 1.5rem);
    font-weight: 300;
}
.textoTech{
    display: flex;
    flex-direction: column;
}
.textoTech p, span, hr{
    font-family: 'Inter';
    color: var(--brancoEsp);
    margin: 0;
    padding: 0;
}

#tecnologias hr{
    color: var(--brancoEsp);
    width: 99% ;
}

@media (max-width: 767px) {
    #tecnologias hr{
        margin: auto;
    }
}

.textoTech p{
    font-weight: 600;
}

.textoTech span{
    font-weight: 200;
}

#tecnologias svg{
  /*fill: var(--brancoEsp);*/
    height: 41px;
    transition: 0.2s ease-in-out;
}

#tecnologias p, span{
    font-size: 14px;
  }
