#rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rodape p{
    margin: 0px;
    padding: 0px;
}

#rodape p, span{
font-family: 'Inter';
}

#rodape p:nth-child(2){
    font-size: 12px;
}

#rodape p:nth-child(1){
    font-weight: 500;
}

#rodape a{
    color: var(--brancoEsp);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

#rodape a:hover{
    color: var(--bgBtn);
    text-decoration: none;
}

.linksfooter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3em;
}

@media (max-width: 766px) {
    .linksfooter{
        flex-direction: column;
        align-items: start !important;
        gap: 1em;
        margin-top: 20px;
    }
}

#rodape .icon-linkedin{
    fill: var(--brancoEsp);
    height: 25px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#rodape .icon-linkedin:hover{
    fill: var(--bgBtn);
}